# Dev
.vscode/
TODO.md
Dev/
node_modules/
pnpm-workspace.yaml
scripts/output/
scripts/gen_rules.py
scripts/list.txt


# Build
scripts/build_dev.py
build/
web/assets/app.min.js
web/index.html
web/rules.html
web/api/index.html

# macOS Shit
.DS_Store
